// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import "bootstrap-settings";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/css/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700');


html {
  font-size: 100%;
}
body {
  font-family: 'PT Serif', serif;
  h1 {
    color: #282828;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    margin-top: 3.2rem;
    margin-left: 0.1rem;
    line-height: 3.7rem;
  }
  h2 {
    color: #eb3c00;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 3.1rem;
    margin-bottom: 1.43rem;
  }
  h4 {
    color: #282828;
    font-size: 1.125rem;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    margin-top: 0.6rem;
  }
  p {
    color: #282828;
    font-size: 1.5rem;
    margin-top: 2rem;
    line-height: 2.25rem;
  }
}

h3.list-header {
  font-size: 1.125rem;
  color: #282828;
  font-weight: 700;
  margin-top: 2.2rem;
}
ul.list-main {
  font-size: 1.125rem; 
  color: #282828;
  padding-left: 1.24rem;
  margin-top: 0.9rem;
  li {
    line-height: 1.7rem;
  }
}
// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

.menu-back {
  color: #fff;
  background-color: #000;
}

a.logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #eb3c00;
  vertical-align: middle;
}

span.description-logo {
  font-weight: 400;
  font-style: italic;
  color: #aaa;
  margin-left: 0.63rem;
  font-size: 1.1rem;
  font-family: 'PT Serif', serif;
  text-transform: none;

  @media (max-width: $screen-sm-min)  {
    font-size: 0.8rem;
  }
}

.top-menu {
  li.active {
    background-color: #eb3c00;
  }
  li {
    padding: 0.6875rem 0.1125rem;
    letter-spacing: 0.05625rem;
    &:hover {
      background-color: #eb3c00;
    }
    a {
      color: #fff;
      font-weight: 400;
      font-family: 'Oswald', sans-serif;
      font-size: 1.125rem;
      text-transform: uppercase;
      &:hover {
        background-color: #eb3c00;
      }
    }
  }
}

.header-buttons {
  position: relative;
}

.first-nav {
  line-height: 6.3rem;
  vertical-align: middle;
  margin-bottom: -0.6rem;
}

span.login {
  font-size: 0.8125rem;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  margin-right:  1.875rem;
  a {
    padding: 0.3125rem;
    color: #282828;
  }
  
  &:before {
    color: #ee4400;
    font-family: 'FontAwesome';
    content: "\f084";
    font-size: 0.875rem;
    margin-right: 0.3125rem;
    display: inline-block;
  }
}

span.contact {
  margin-top: 0.1875rem;
  margin-right: 0.3125rem;
  display: inline-block;
  a {
    background-color: #ee4400;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.875rem 3.4375rem;
    color: #fff;
    font-style: italic;
    font-size: 0.8125rem;
  }
}

input.search {
  margin-right: -0.25rem;
  padding: 0.5625rem 0.5rem 0.5rem 0.625rem;
  margin-top: 0.5rem;
  width: 16.8rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  @media (max-width: $screen-sm-min)  {
    width: 100%;
  }
}

.form-body {
  position: relative;
  i {
    position: absolute;
    color: #81858c;
    font-size: 1.125rem;
    top: 1.1rem;
    right: 1.1rem;
  }
}

.blog-posts {
  margin-left: 0.17rem;
  img {
    width: 100%;
  }
}

.footer {
  margin-top: 7.8rem;
  a {
    font-size: 0.875rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #282828;
    margin-right: 1.2rem;
    sup {
        margin-right: 0.4rem;
    }
    margin-bottom: 3rem;
  }
}