extends _layouts/base

block content
  .container
    nav.navbar.first-nav
      a.logo Sitename
        span.description-logo my first web page
      .navbar-right
        .header-buttons
          span.login
            a Login
          span.contact
            a Contact me
  .menu-back
    .container
      nav
        ul.nav.navbar-nav.top-menu
          li.active
            a Home
          li
            a About
          li
            a News
          li
            a Portfolio
          li
            a Blog
        form.navbar-form.navbar-right
          .form-body
            input.search(placeholder="Search")
            i.fa.fa-search(aria-hidden="true")
  .container
    .row
      .col-sm-8
        h1 What 10 Things Should You Do Every Day To Improve Your Life?
    .row
      .col-sm-9
        p Learning another language can keep your mind sharp. Music lessons increase intelligence. Challenging your beliefs strengthens your mind.  Increasing willpower just takes a little effort each day and it’s more responsible for your success than IQ.
        h3.list-header Key features
        ul.list-main
          li It will make you happier.
          li It will improve your relationships.
          li It can make you a better person.
          li It can make life better for everyone around you.
    .row
      .col-sm-12
        h2 Recent news
    .blog-posts
      .row
        .col-lg-2.col-md-4.col-sm-6.col-xs-12
          img(src="/images/blog-1.jpg")
          h4 Being in nature reduces stress, makes you more creative
        .col-lg-2.col-md-4.col-sm-6.col-xs-12
          img(src="/images/blog-2.jpg")
          h4 Usability Testing for Mobile Is Easy
        .clearfix.visible-sm
        .col-lg-2.col-md-4.col-sm-6.col-xs-12
          img(src="/images/blog-3.jpg")
          h4 Infinite Scrolling Is Not for Every Website
        .clearfix.visible-md
        .col-lg-2.col-md-4.col-sm-6.col-xs-12
          img(src="/images/blog-4.jpg")
          h4 Ecommerce UX: 3 Design Trends to Follow and 3 to Avoid
        .clearfix.visible-sm
        .col-lg-2.col-md-4.col-sm-6.col-xs-12
          img(src="/images/blog-5.jpg")
          h4 University Websites: Top 10 Design Guidelines
        .col-lg-2.col-md-4.col-sm-6.col-xs-12
          img(src="/images/blog-6.jpg")
          h4 University Websites: Top 10 Design Guidelines

block footer
  .claerfix
    a.pull-right(id="scroll-top-button")
      sup
        i.fa.fa-chevron-up(aria-hidden="true")
      | top

